<form class="flex flex-col gap-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">

    <label class="label">Correo electrónico</label>
    <input
      type="email"
      class="input"
      [class.input-error]="registerForm.controls.email.invalid && registerForm.controls.email.touched"
      placeholder="correo@ejemplo.com"
      formControlName="email"
    />
    @if (registerForm.controls.email.touched && registerForm.controls.email.hasError('required')) {
      <span class="text-error text-xs mt-1">El correo es obligatorio.</span>
    }
    @if (registerForm.controls.email.touched && registerForm.controls.email.hasError('email')) {
      <span class="text-error text-xs mt-1">Ingresa un formato de correo válido.</span>
    }

    <label class="label mt-2">Usuario</label>
    <input
      type="text"
      class="input"
      [class.input-error]="registerForm.controls.username.invalid && registerForm.controls.username.touched"
      placeholder="johndoe"
      formControlName="username"
    />
    @if (registerForm.controls.username.touched && registerForm.controls.username.hasError('required')) {
      <span class="text-error text-xs mt-1">El usuario es obligatorio.</span>
    }
    @if (registerForm.controls.username.touched && registerForm.controls.username.hasError('minlength')) {
      <span class="text-error text-xs mt-1">Debe tener al menos 3 caracteres.</span>
    }
    @if (registerForm.controls.username.touched && registerForm.controls.username.hasError('maxlength')) {
      <span class="text-error text-xs mt-1">Debe tener máximo 20 caracteres.</span>
    }
    @if (registerForm.controls.username.touched && registerForm.controls.username.hasError('pattern')) {
      <span class="text-error text-xs mt-1">Solo letras minúsculas, números, . y _ .</span>
    }
    @if (registerForm.controls.username.touched && registerForm.controls.username.hasError('forbiddenUsername')) {
      <span class="text-error text-xs mt-1">Este nombre de usuario no está disponible.</span>
    }

    <label class="label mt-2">Nombre para mostrar</label>
    <input
      type="text"
      class="input"
      [class.input-error]="registerForm.controls.displayName.invalid && registerForm.controls.displayName.touched"
      placeholder="John Doe"
      formControlName="displayName"
    />
    @if (registerForm.controls.displayName.touched && registerForm.controls.displayName.hasError('required')) {
      <span class="text-error text-xs mt-1">Tu nombre es obligatorio.</span>
    }
    @if (registerForm.controls.displayName.touched && registerForm.controls.displayName.hasError('minlength')) {
      <span class="text-error text-xs mt-1">Debe tener al menos 3 caracteres.</span>
    }

    <label class="label mt-2">Contraseña</label>
    <input
      type="password"
      class="input"
      [class.input-error]="registerForm.controls.password.invalid && registerForm.controls.password.touched"
      placeholder="Contraseña"
      formControlName="password"
    />
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('required')) {
      <span class="text-error text-xs mt-1">La contraseña es obligatoria.</span>
    }
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('minlength')) {
      <span class="text-error text-xs mt-1">Debe tener al menos 8 caracteres.</span>
    }
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('pattern')) {
      <span class="text-error text-xs mt-1">La contraseña debe incluir al menos un número.</span>
    }

    <button type="submit" class="btn btn-secondary mt-6" [disabled]="isPosting()">
      @if (isPosting()) {
        <span class="loading loading-spinner"></span>
      } @else {
        Registrarse
      }
    </button>

    @if (hasError()) {
      <div class="mt-4 text-center text-error font-bold text-sm bg-error/10 p-2 rounded-lg">
        {{ errorMessage() }}
      </div>
    }
  </fieldset>

  <p class="text-slate-700 mt-2">
    ¿Ya tienes cuenta?
    <a routerLink="/auth/login" class="text-secondary hover:underline">Inicia sesión aquí</a>
  </p>
</form>
