<div class="drawer md:drawer-open mx-auto max-w-7xl bg-base-100 text-base-content">
  <input id="mobile-menu" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex justify-center">
    <div class="flex w-full justify-center md:justify-start lg:justify-center">
      <main
        class="flex min-h-screen w-full md:w-[640px] shrink-0 flex-col border-base-300 md:border-r"
      >
        <div
          class="md:hidden sticky top-0 z-20 flex items-center justify-between bg-base-100/80 p-3 backdrop-blur-md border-b border-base-300"
        >
          <label for="mobile-menu" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-bars text-xl"></i>
          </label>
          <h1 class="text-xl font-bold">Orbit</h1>
          <div class="w-12"></div>
        </div>

        <router-outlet></router-outlet>
      </main>

      <div class="hidden lg:block w-80 shrink-0">
        <app-sidebar-right
          [isAuthenticated]="authService.isAuthenticated()"
          [username]="authService.username()"
          (onLogout)="handleLogout()"
        ></app-sidebar-right>
      </div>
    </div>
  </div>

  <div class="drawer-side z-50">
    <label for="mobile-menu" aria-label="close sidebar" class="drawer-overlay"></label>

    <div
      class="min-h-screen bg-base-100 w-64 md:w-20 lg:w-72 shrink-0 md:border-r border-base-300 flex flex-col"
    >
      <app-sidebar-left></app-sidebar-left>
    </div>
  </div>
</div>
